<div>

    <div class="mb-5 text-center">
        <h1 class="text-light">Cadastro de Empréstimo</h1>
    </div>

    <form>

        <div class="form-group">
            <label for="Recebedor" class="text-light">Recebedor</label>
            <input type="text" class="form-control" id="Recebedor" aria-describedby="emailHelp" placeholder="Informe o nome do recebedor . . ."/>
        </div>

        <div class="form-group">
            <label for="Fornecedor" class="text-light">Fornecedor</label>
            <input type="text" class="form-control" id="Fornecedor" aria-describedby="emailHelp" placeholder="Informe o e-mail do fornecedor . . ." />
        </div>

        <div class="form-group">
            <label for="Livro" class="text-light">Livro</label>
            <input type="text" class="form-control" id="Livro" aria-describedby="emailHelp" placeholder="Informe o e-mail do livro . . ." />
        </div>

        <div class="d-flex gap-5 wt-5">
            <button type="submit" class="btn btn-success w-50">Enviar</button>    
            <a class="btn btn-primary w-50">Voltar</a>
        </div>

    </form>

</div>