@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">First Program in .NET</h1>
    <p style="color:red">Está é a primeira aula de .net</p>
    <button>GO!!!</button>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core"> building Web apps with ASP.NET Core</a>.</p>
</div>
